/* {
  primary dark color rgb(42,42,42);

 accent color light blue #60f8ff
}*/

body {
	background-color: rgb(42,42,42);
}

nav {
position: absolute;
top:0;
right: 0;
}

nav ul {
font-family: 'Open Sans', sans-serif;
color: white;
padding-right: 7px;
}

nav li {
float: left;
padding-bottom: 7px;
padding: 0 20px 10px;
}

#about{
border-width: 110%;
text-align: center;
color: rgb(155,155,155);
}

#about article * {
	display: inline-block;
	margin-left: auto;
    margin-right: auto;
    margin: auto;
  
}

#welcome {
	font-family: 'Open Sans', sans-serif;
	padding-top: 2%;
	padding-bottom: 5%;
	padding-left: 4%;
	padding-right: 4%;
}

#welcome h1 {
	font-weight: 300;
	font-size: 2.5em;
	float: center;
	color: white;
}


#about #myface img{
border-radius: 100%;
max-width: 300px;

}

#myface{
padding-top: 20px;
padding-bottom: 20px;

}

#portfolio{
background-color: rgb(255,255,255);
color: rgb(97,97,97);	
}



#portfolio_controls{
	clear: both;
	font-family: 'Open Sans', sans-serif;
	float: right;
	padding-right: 15%;
	font-weight: 300;
	}
	
#portfolio_controls ul li {
	display: inline-block;
	background-color: rgb(97,97,97);
	border-radius: 2px;
	padding: 0 4px 1px;
	color: white;
	}


#resume{
font-family: 'Open Sans', sans-serif;
text-align: left;
background-color: rgb(255,255,255);
color: rgb(97,97,97);
clear: both;
padding-left: 5%;
padding-right: 5%;
}


#resume_left h2, #resume_right h2{
font-weight: 300;
}

#resume_left h3, #resume_right h3{
font-weight: 400;
}

#contact{
font-family: 'Open Sans', sans-serif;
text-align: center;
background-color: rgb(97,97,97);
color: rgb(155,155,155);
clear: both;
padding-bottom: 20px;
}

#contact a {
	text-decoration: none;
color: #60f8ff;
}

#contact h1{
	font-size: 3em;
	color: white;
	font-weight: 300;
	padding-top: 1.5%;	
}

#contact ul {
	padding-right: 7%;
}

#contact li{
	display: inline-block;
	padding-left: 5px;
	padding-right: 5px;
}



#contact img{
	max-width: 20px;
}
