/*universal font*/

nav, #about article, #portfolio article{
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: white;
}

nav {
  background-color: rgb(42,42,42);
}


nav li {
  list-style: none;
  display: inline-block;
}

#about { 
  background-color: rgb(42,42,42); 
  height: 568px; 
  margin: 0 auto; 
  width: 100%; 
  max-width: 1920px; 
  position: relative; 
}
 
#about #myface img {
  max-width: 50%;
  border-radius: 100%;
  
}

#about article { 
  height: 458px; 
  position: absolute; 
  text-align: center; 
  top: 5%; 
  width: 100%; 
}
 
 #about article h1 {
  font-weight: 400;
font-size: 2.5em;
 }

#portfolio { 
  background: url("http://fc04.deviantart.net/fs70/f/2014/053/6/5/free_space_galaxy_texture_by_lyshastra-d77gh18.jpg") 50% 0 repeat fixed; min-height: 568px; 
  height: 568px; 
  margin: 0 auto; 
  width: 100%; 
  max-width: 1920px;
  position: relative; 
  -webkit-box-shadow: 0 0 50px rgba(0,0,0,0.8);
  box-shadow: 0 0 50px rgba(0,0,0,0.8);
}
 
#portfolio article { 
  height: 458px; 
  position: absolute; 
  text-align: center; 
  top: 5%; 
  width: 100%; 
}

#portfolio article ul li {
  list-style: none;
  display: inlin
}

#portfolio article ul li img {
width: 45%;
max-width: 400px;
}

#resume {
  background: url("http://onmyfrontporch.files.wordpress.com/2013/11/texture-8.jpg") 50% 0 repeat fixed; min-height: 568px; 
  height: 568px; 
  margin: 0 auto; 
  width: 100%; 
  max-width: 1920px; 
  position: relative; 
   -webkit-box-shadow: 0 0 50px rgba(0,0,0,0.8);
  box-shadow: 0 0 50px rgba(0,0,0,0.8);

}

#contact {
   background: url("http://fc04.deviantart.net/fs70/f/2014/053/6/5/free_space_galaxy_texture_by_lyshastra-d77gh18.jpg") 50% 0 repeat fixed; min-height: 568px; 
  height: 568px; 
  margin: 0 auto; 
  width: 100%; 
  max-width: 1920px; 
  position: relative; 
   -webkit-box-shadow: 0 0 50px rgba(0,0,0,0.8);
  box-shadow: 0 0 50px rgba(0,0,0,0.8);

}
