/* {
  primary dark color rgb(42,42,42);

}*/

body {
	background-color: rgb(42,42,42);
}

nav {
position: absolute;
top:0;
right: 0;
}

nav ul {
font-family: 'Open Sans', sans-serif;
color: white;
padding-right: 7px;
}

nav li {
float: left;
padding-bottom: 7px;
padding: 0 20px 10px;
}

#about{
border-width: 110%;
text-align: center;
color: rgb(97,97,97);
}

#about article * {
	display: inline-block;
	margin-left: auto;
    margin-right: auto;
    margin: auto;
  
}

#welcome {
	font-family: 'Open Sans', sans-serif;
	padding-top: 2%;
	padding-bottom: 5%;
	padding-left: 4%;
	padding-right: 4%;
}

#welcome h1 {
	font-weight: 300;
	font-size: 2.5em;
	float: center;
	color: white;
}


#about #myface img{
border-radius: 100%;
max-width: 300px;

}

#myface{
padding-top: 20px;
padding-bottom: 20px;

}

#portfolio{
background-color: rgb(255,255,255);
border-radius: 5px;
color: rgb(97,97,97);	
}

#portfolio p {
	clear: both;
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 5%;
}

#portfolio_elements img  {
	float: left;
	border-radius: 20px;
	padding-right:5px;
	padding-left:5px;
	padding-top:5px;
	padding-bottom:5px;
	max-width: 200px;

}

#portfolio_elements{
	padding-top: 5%;
	padding-left: 7.5%;
	
}

#portfolio_words{
	clear: both;
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 10%;
	padding-bottom: 10%;
	height: 40px;
	text-align: center;
}

#portfolio_controls{
	clear: both;
	font-family: 'Open Sans', sans-serif;
	float: right;
	padding-right: 15%;
	font-weight: 300;
	}
	
#portfolio_controls ul li {
	display: inline-block;
	background-color: rgb(97,97,97);
	border-radius: 2px;
	padding: 0 4px 1px;
	color: white;
	}

#contact{
height: 20%;
  text-align: center;
  background-color: rgb(255,255,255);
  color: rgb(97,97,97);
clear: both;
}


#resume{
height: 20%;
  text-align: center;
  background-color: rgb(255,255,255);
  color: rgb(97,97,97);
clear: both;
}